# --- graphical model --- #
n_latents: 40
n_latents_read: 35

rank_local: 15
rank_backward: 5

n_hidden_dynamics: 128

# --- inference network --- #
n_samples: 25
n_hidden_local: 256
n_hidden_backward: 128

# --- hyperparameters --- #
use_cd: False
p_mask_a: 0.0
p_mask_b: 0.0
p_mask_apb: 0.0
p_mask_y_in: 0.0
p_local_dropout: 0.4
p_backward_dropout: 0.0

# --- training --- #
device: 'cpu'
data_device: 'cpu'

lr: 1e-3
n_epochs: 1000
batch_sz: 512

# --- misc --- #
bin_sz: 20e-3
bin_sz_ms: 20

seed: 1236
default_dtype: torch.float32

# --- ray --- #
n_ray_samples: 10


